################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiBiblioteca/FileContentIndex
/.vs
/.vs
/.vs/ApiBiblioteca/v17/.suo
/.vs/ApiBiblioteca/v17/DocumentLayout.backup.json
/.vs/ApiBiblioteca/v17/DocumentLayout.json
/ApiBiblioteca/bin/Debug/net9.0/ApiBiblioteca.dll
/ApiBiblioteca/bin/Debug/net9.0/ApiBiblioteca.exe
/ApiBiblioteca/bin/Debug/net9.0/ApiBiblioteca.pdb
/ApiBiblioteca/bin/Debug/net9.0/appsettings.json
/ApiBiblioteca/obj/ApiBiblioteca.csproj.nuget.dgspec.json
/ApiBiblioteca/obj/ApiBiblioteca.csproj.nuget.g.props
/ApiBiblioteca/obj/project.assets.json
/ApiBiblioteca/obj/project.nuget.cache
ApiBiblioteca/obj/ApiBiblioteca.csproj.nuget.dgspec.json
ApiBiblioteca/obj/ApiBiblioteca.csproj.nuget.g.props
ApiBiblioteca/obj/project.assets.json
ApiBiblioteca/obj/project.nuget.cache
/ApiBiblioteca/obj
